.reviews-container {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  &__star {
    font-size: 1.3rem;
    margin-top: 3px;
  }
  &__qty {
    color: $productCardTextColor;
    margin-left: 0.25rem;
    font-weight: 600;
    font-size: 1.3rem;
  }
}
